.main {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
}
.head {
  display: flex;
  justify-content: space-around;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 1px;
  font-weight: bold;
  font-size: 15px;
}
.head a {
  margin-top: 6px;
  color: #222222;
  text-decoration: none;
}
.head header {
  margin-top: 0.4%;
  color: #fa7436;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-left: 25%;
  margin-right: 30%;
}
.welcome {
  margin-top: 7%;
  margin-bottom: 7%;
  width: 30%;
  font-size: 50px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

.text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 0%;
  width: 25%;
  margin-right: 10%;
  margin-top: 14%;
  margin-bottom: 7%;
  font-size: 15px;
}

.head button {
  border: none;
  background-color: #ffffff;
  outline: none;
  height: 40px;
  font-size: 16px;
  width: 100%;
  margin-right: 5%;
  cursor: pointer;
  touch-action: manipulation;
}
.bt1 {
  border: none;
  background-color: #fa7436;
  color: #ffffff;
  font-size: 15px;
  border-radius: 20%;
  height: 30px;
  margin-bottom: 10%;
}
.picture {
  display: flex;
  justify-content: center;
}
.picture img {
  border-radius: 30px;
  width: 50%;
}

.laguna {
  display: flex;
  margin-top: 10%;
  background-color: rgb(241, 241, 241);
  width: 75%;
  padding-left: 18%;
}
.laguna h2 {
  display: flex;
  margin-left: 75%;
  width: 20%;
}
.pic {
  display: flex;
  align-items: center;
}

.boton {
  display: flex;
  align-items: flex-end;
}

.pic img {
  display: flex;
  margin-left: 33%;
  border-radius: 2%;
}

.laguna p {
  display: flex;
  justify-content: center;
  width: 24%;
  align-items: center;
  margin-left: 5%;
}
.fe {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Nunito Sans", sans-serif;
  margin-left: 100%;
}

.parr h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  margin-left: 13%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  margin-right: 70%;
  width: 100%;
  margin-left: 65%;
}

.pic button {
  border: none;
  outline: black;
  height: 30px;
  background: #fa7436;
  color: #ffffff;
  font-size: 15px;
  border-radius: 20%;
  cursor: pointer;
  touch-action: manipulation;
  margin-right: 10%;
}

.visit {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.comp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.head a:hover {
  color: #fa7436;
  text-decoration: underline;
}
